/*
  	Flaticon icon font
  	Creation date: 16/06/2019 20:38
  	*/

   
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Social-Icons";
        src: url("../fonts/Social.svg#Flaticon") format("svg");
      }
    }
    
    [class^="social-"]:before, [class*=" social-"]:before,
    [class^="social-"]:after, [class*=" social-"]:after {   
      font-family: "Social-Icons";
            font-size: 20px;
    font-style: normal;
    margin-left: 20px;
    }
    
    .social-facebook:before { content: "\f100"; }
    .social-twitter:before { content: "\f101"; }
    .social-linkedin:before { content: "\f102"; }
    