/*reset*/
*, *:after, *:before {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flexbox;
  }
  /*header*/

  .header {
    height: 100vh;
    /*background-color: black;*/
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .header > h1 {
    font-weight: 80;
    margin-left: 55vw;
    color: white;
  }
  
  .header > h1 > span {
    display: block;
    font-weight: 600;
    color: white;
  }
  
  .header > .tagline {
    margin-left: 55vw;
    color: white;
  }
  #myVideo {
    z-index: -1;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: fill;
  }
  .video-container {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .button1 {
    display: inline-block;
    width: 120px;
    height: 50px;
    padding: 12px 20px;
    background: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-left: 55vw;
  }
  .header > div:hover {
    color: black;
    background-color: white;
}
  /*navbar-flexbox*/

  .navbar {
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
  
    display: flex;
    align-items: center;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
  
    flex: 1 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-item > a {
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem;
    display: block;
  }
  
  .navbar-item > a:hover {
    color: darkred;
    background-color: yellow;
    transition: all 1s ease-in;
  }
  
 .logo {
    align-self: center;
    flex-shrink: 0;
    flex-grow: 1;
    flex: 150px;
    margin-left: 1rem;  
  }
  .logo img:hover{
      cursor: pointer;
  }
#videoSection {
    width: 100%;
    height: 100%;
    background: black;
}
.row{
    font-size: 0;
    width: 100%;
}
.videoBoxes{
    display: inline-block;
    height: 250px;
    width: 20%;
    min-height: 150px;
    font-size: 16px;
    margin: 2.5%;
    background-size: 100% 100%;
}
.row > div:hover {
    box-shadow: 0px 0px 10px 10px white;
}
.videoBoxes h4 {
    margin: 0;
    color: white;
    text-align: center;
}
.video1{
    background-image: url("fotos/Begins.jpg")  
}
.video2{
    background-image: url("fotos/caballerooscuro.jpg")
} 
.video3{
    background-image: url("fotos/BatmanSuperman.jpg")
}
.video4{
    background-image: url("fotos/Batman.jpg")
}

@media all and (max-width: 768px) {
  .row > div{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
} 
@media all and (max-width: 768px) {
  .header > h1,
  .header > p,
  .header > div,
  .header > video{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin: 0;
    padding: 1rem .5rem;
    text-align: center;
  }
} 

@media all and (max-width: 768px) {
  .header > .tagline {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .header > .button1 {
    margin: 0;
    align-self: center;
  }
}

@media all and (max-width: 768px) {
  .video-container > myVideo{
    object-fit: cover;
  }
}
  
#burger-checkbox {
    display: none;
}
  
  @media all and (max-width: 768px) {
    .navbar {
      width: 40%;
    }
  
    .navbar-list {
      display: none;
      flex-direction: column;
      margin-top: 51px;
      height: 100vh;
      justify-content: flex-start;
      background-color: var(--text-color);
      padding-left: 0;
    }
    
    .navbar-list li a {
      color: var(--bg-color);
      text-align: center;
    }
  
    .navbar .logo {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background-color: black;
      height: 51px;
      line-height: 51px;
      font-size: 1.5em;
      margin: 0;
    }
  
    #burger-checkbox {
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
      width: 51px;
      height: 51px;
      opacity: 0;
    }
  
    #burger-checkbox:checked ~ .navbar-list {
      display: inherit;
    }
    
    .burger-label {
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
      width: 51px;
      height: 51px;
      font-size: 42px;
    }
  
    .burger-label:before {
      content: "";
      position: absolute;
      background: white;
      width: 1em;
      height: .15em;
      left: .1em;
      top: .25em;
      box-shadow:
        0 .25em 0 0 white,
        0 .5em 0 0 white;
    }  
  }

  /*styles*/
  :root {
    --max-width: 900px;
    --text-color: #222222;
    --bg-color: white;
    --bg-inverted: #EFEFFE;
  
  }
  
  * {
    font-family: Roboto;
  }
  
  main {
    max-width: var(--max-width);
    margin: 0 auto;
  }
  
  section {
    padding: 3rem 1rem;
  }
  
  section h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: 2.5rem;
  }
  
  section img {
    max-width: 100%;
  }
  
  section.inverted {
    background-color: var(--bg-inverted);
    margin-left: calc(50% - 50vw + .6rem);
    margin-right: calc(50% - 50vw + .6rem);
  }
  
  section .centered {
    max-width: var(--max-width);
    margin: 0 auto;
  }
  
  
  /*footer*/

  .footer {
    background-color: #222222;
    color: whitesmoke;
    display: flex;
    padding: 1rem 2rem;
  }
  
  .footer a {
    color: whitesmoke;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .links, .social {
    flex: 1;
  }
  
  .links-list {
    list-style: none;
  }
  
  .links-list li {
    margin: .75rem;
    display: inline-flex
  }

  .footer img:hover {
    box-shadow: 0px 0px 8px 2px white;
  }
  
  .social-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
  }
   
  .social-list i:before {
    font-size: 2rem;
  }
  
  .social-list a:hover {
    text-decoration: underline;
  }
  
  @media all and (max-width: 768px) {
    .footer {
      flex-direction: column-reverse;
      text-align: center;
    }
  
    .links-list {
      padding-left: 0;
    }
  
    .social-list {
      justify-content: center;
      padding-left: 0;
    }
  }
  